<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Citas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <img th:src="@{/img/logo1.jpg}" alt="VIRCADE Logo"/>
    <br><br>
    <div style="text-align: center;" class="box">
        <a type="button" th:href="@{/home}" class="btn btn-secondary">Regresar al dashboard</a>
    </div>
</header>
<br>
<div class="container mt-4">
    <div th:if="${mensaje}" class="alert alert-success">
        <p th:text="${mensaje}"></p>
    </div>
    <div>
        <a href="#" data-toggle="modal" data-target="#nuevocita" class="btn btn-primary">Agregar cita</a>
    </div>
    <form method="post">
        <div class="row">
            <div class="col">
                <!--Tabla de carros-->
                <table id="Solicitudes" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Tipo de cita</th>
                            <th>Asesor</th>
                            <th>Cliente</th>
                            <th>Concesionario</th>
                            <th>Direccion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tv:${citas}">
                            <td scope="row" th:text="${tv.id}"></td>
                            <td th:text="${tv.fecha}"></td>
                            <td th:text="${tv.hora}"></td>
                            <td th:text="${tv.tipoCita}"></td>
                            <td th:text="${tv.asesor.correoAsesor}"></td>
                            <td th:text="${tv.clienteRelacionado.correo}"></td>
                            <td th:text="${tv.concesionarioAsig.nombreConcesionario}"></td>
                            <td th:text="${tv.concesionarioAsig.direccion}"></td>
                            <td>
                                <a class="btn btn-success"
                                   th:href="@{/Citasedit/} + ${tv.id}"
                                   title="Editar Registro">
                                    Editar
                                </a>

                                <a class="btn btn-danger" th:href="@{/Citasde/} + ${tv.id}"
                                   th:text="'Eliminar'" title="Eliminar registro"
                                   onclick="return confirm('¿Estas seguro de eliminar este registro?')">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<!-- Modal para agregar un nuevo tipo de vehículo -->
<div class="modal" id="nuevocita">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tipo de Vehículo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post" th:object="${Cita}" th:action="@{/Citasave}">
                    <div class="form-group">
                        <input type="hidden" th:field="*{id}">
                        <label for="cita">Fecha de la cita:</label>
                        <input class="form-control"
                               id="cita"
                               name="cita"
                               th:field="*{fecha}"
                               required
                               type="date">
                        <small></small>
                    </div>
                    <div class="form-group">
                        <label for="hora">hora de la cita:</label>
                        <input class="form-control"
                               id="hora"
                               name="hora"
                               th:field="*{hora}"
                               required
                               type="time">
                        <small></small>
                    </div>
                    <div class="form-group">
                        <label for="cita">Tpo de cita:</label>
                        <input class="form-control"
                               id="tipoCita"
                               name="tipoCita"
                               th:field="*{tipoCita}"
                               required
                               type="text">
                        <small></small>
                    </div>
                    <div class="form-group">
                        <label for="asesor">Correo del asesor:</label>
                        <select class="form-control"
                                id="asesor"
                                name="asesor"
                                th:field="*{asesor}"
                                required>
                            <option th:each="asesore:${lisasesor}"
                                    th:value="${asesore.idAsesor}"
                                    th:text="${asesore.correoAsesor}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="clienteRelacionado">Correo del cliente:</label>
                        <select class="form-control"
                                id="clienteRelacionado"
                                name="clienteRelacionado"
                                th:field="*{clienteRelacionado}"
                                required>
                            <option th:each="usus:${lisus}"
                                    th:value="${usus.correo}"
                                    th:text="${usus.correo}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="concesionarioAsig">Nombre del concesionario:</label>
                        <select class="form-control"
                               id="concesionarioAsig"
                               name="concesionarioAsig"
                               th:field="*{concesionarioAsig}"
                               required>
                            <option th:each="concesionario:${lisConce}"
                                    th:value="${concesionario.idConcesionario}"
                                    th:text="${concesionario.nombreConcesionario}">
                            </option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br>
<footer class="text-center mt-5">
    <div class="foot">
        <h3>Contáctanos</h3>
    </div>
    <div class="logo">
        <img th:src="@{/img/Capturalogo.JPG}" alt="logo"/>
    </div>
    <div style="text-align: center;" class="redes">
        <p>Redes Sociales:</p>
        <img th:src="@{/img/pic_whats.png}" alt="Whatsapp"/>
        <img th:src="@{/img/pic_face.png}" alt="Facebook"/>
        <img th:src="@{/img/pic_insta.png}" alt="Instagram"/>
        <p>Correo: <br/>
            vircade@gmail.com</p>
    </div>
    <div style="text-align: center;" class="nombres">
        <p>Laura Daniela Benavides Rodriguez: Diseñadora Backend</p>
        <p>Shanon Natalia Rodriguez: Diseñadora Frontend</p>
        <p>Santiago Vega: Diseñador Web</p>
        <p>Nicolas Salamanca:Diseñador Web</p>
    </div>
</footer>
<script>
    new DataTable('#Solicitudes', {
    language: {
        search: "Buscar:",
        paginate: {
            first: "Primero",
            last: "Último",
            next: "Siguiente",
            previous: "Anterior"
        },
        lengthMenu: "Mostrar _MENU_ registros por página",
        info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
        infoEmpty: "No hay registros disponibles",
        infoFiltered: "(filtrado de _MAX_ registros en total)",
        zeroRecords: "No se encontraron resultados",
        emptyTable: "No hay datos disponibles en la tabla"
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXlYBb2HnENP+ghz8hxI4Q6RAcn9GqE89eUtD5isD2Bg/uJ9Tory7kPpMP4h"
        crossorigin="anonymous">
</script>
</body>
</html>