<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Renault Logan</title>
</head>
<body>
    <header>
        <center><img th:src="@{/imagenes/logo.jpg}" alt="Logo"></center>
    </header>

    <!-- Navegación -->
    <nav>
        <div id="hea">
            <ul class="nav">
                <li><a th:href="@{/Inicio}">Inicio</a></li>
                <li><a th:href="@{/Sobre_nosotros}">Sobre Nosotros</a></li>
                <li>
                    <a href="#">Concesionarios</a>
                    <ul>
                        <li><a th:href="@{/Chevrolet}">Chevrolet</a></li>
                        <li><a th:href="@{/Renew_Autostok-Renault}">Renew Autostok-Renault</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Vehículos</a>
                    <ul>
                        <li>
                            <div>
                                <li>
                                    <a href="#">Marca</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" th:href="@{/Chevrolet}">Chevrolet</a></li>
                                        <li><a class="dropdown-item" th:href="@{/Renew_Autostok-Renault}">Renault</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Tipo de Vehículo</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" th:href="@{/Automovil}">Automovil</a></li>
                                        <li><a class="dropdown-item" th:href="@{/camioneta}">Camioneta</a></li>
                                    </ul>
                                </li>
                            </div>
                        </li>
                        <li> <a th:href="@{/home}">Dashboard</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Título Vehículo -->
    <br>
    <h1 class="titu">Renault Logan</h1>

    <!-- Cuadro en general -->
    <div class="general">
        <div class="card">
            <center><img th:src="@{/imagenes/1renolt.jpg}" class="card-img-top" alt="Renault Logan"></center>
        </div>

        <div class="detalle">
            <h2>Descripción:</h2>
            <p>El Renault Logan, un ícono de elegancia y funcionalidad, fusiona diseño moderno con practicidad excepcional. Con líneas aerodinámicas y detalles sofisticados, este sedán ofrece un interior espacioso y confortable, perfecto para disfrutar de cada viaje. Equipado con tecnología de última generación y un rendimiento confiable, el Renault Logan te lleva a donde necesitas llegar con estilo y seguridad incomparables.</p>
            <ul>
                <li>Precio: <span>$ 64.990.000</span></li>
                <li>Cilindraje: <span>1598 cm³</span></li>
                <li>Tipo de Combustible: <span>Gasolina</span></li>
                <li>Disponibilidad: <span>Si</span></li>
                <li>Ubicación donde lo puede encontrar: <span>Av. carrera, Ac. 57r Sur #67 62, Bosa, Bogotá, Cundinamarca</span></li>
            </ul>
        </div>

        <div class="comunicacion">
            <p>Visita la página de Renault: <a href="https://www.renault.com.co/" target="_blank">https://www.renault.com.co/</a></p>
        </div>

        <div class="comu-asesor">
            <p>Ingresa para comunicarse con un asesor: <span>asesorrenault001@gmail.com</span></p>
        </div>
    </div>
    <!--pie de pagina-->
    <footer class="text-center mt-5">
        <div class="foot">
            <h3>Contáctanos</h3>
        </div>
        <div class="logo">
            <img th:src="@{/img/Capturalogo.JPG}" alt="logo"/>
        </div>
        <div style="text-align: center;" class="redes">
            <p>Redes Sociales:</p>
            <img th:src="@{/img/pic_whats.png}" alt="Whatsapp"/>
            <img th:src="@{/img/pic_face.png}" alt="Facebook"/>
            <img th:src="@{/img/pic_insta.png}" alt="Instagram"/>
            <p>Correo: <br/>
                vircade@gmail.com</p>
        </div>
        <div style="text-align: center;" class="nombres">
            <p>Laura Daniela Benavides Rodriguez: Diseñadora Backend</p>
            <p>Shanon Natalia Rodriguez: Diseñadora Frontend</p>
            <p>Santiago Vega: Diseñador Web</p>
            <p>Nicolas Salamanca:Diseñador Web</p>
        </div>
    </footer>
</body>
</html>